<!DOCTYPE html>
<html>
<head>
  <title>测试--SHA PUSH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>
<body>

<div class="table-responsive">
  <h2 class="text-center font-weight-bold">SHA PUSH</h2>     
  <table class="table table-bordered table-primary">
    <thead class="thead-light">
      <tr>
        <th>VESSEL NAME</th>
		<th>VESSEL NAME CN</th>
        <th>VOYAGE</th>
		<th>TERMINAL</th>
		<th>ETA</th>
        <th>ETB</th>
		<th>ETD</th>
      </tr>
    </thead>
    <tbody>
	<meta charset="UTF-8">
      {% for j in data %}
		<tr>
			<td>{{ j[4]}}</td>
			<td>{{ j[3]}}</td>
			<td>{{ j[5]+'/'+j[6]}}</td>
			<td>{{ j[2]}}</td>
			<td>{{ j[-1]}}</td>
			<td>{% if j[8] !="None" and j[8] !=" " %}
						{{ j[8] }}
					{% else %}
						{{ j[7] }}
					{% endif %}</td>
			<td>{% if j[10] !="None" and j[10] !=" "%}
						{{ j[10] }}
					{% else %}
						{{ j[9] }}
					{% endif %}</td>
		</tr>
      {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>