<!DOCTYPE html>
<html>
<head>
  <title>测试--SHA PUSH</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="table-responsive">
  <h2>SHA PUSH</h2>     
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>VESSEL NAME</th>
		<th>VESSEL NAME CN</th>
        <th>VOYAGE</th>
		<th>MATOU</th>
        <th>ETB</th>
		<th>ETD</th>
      </tr>
    </thead>
    <tbody>
	<meta charset="UTF-8">
      {% for i in data %}
		{% for j in i %}
			<tr>
				<td>{{ j[4]}}</td>
				<td>{{ j[3]}}</td>
				<td>{{ j[5]}}~{{"\"}}</td>
				<td>{{ j[2]}}</td>
				<td>{{ j[7]+j[8]}}</td>
				<td>{{ j[9]+j[10]}}</td>
			</tr>
		{% endfor %}
      {% endfor %}
    </tbody>
</table>
</div>

</body>
</html>